.navbar{
    padding:20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    width:150px;
}


.navbar-menu{
    display:flex;
    list-style-type: none;
    gap:20px;
    color:#49557e;
    font-size:18px;
}

.navbar-menu li{
    cursor: pointer;

}

.navbar-right{
    display: flex;
    align-items: center;
    gap:40px;
}

.navbar button{
    background-color: transparent;
    font-size:16px;
    color:#49557e;
    border: 1px solid tomato;
    padding:10px 30px;
    border-radius: 50px;
    cursor:pointer;
    transition: 0.3s;

}

.navbar button:hover{
    background-color: #fff4f2;
    
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid ;
    color:#49557e;
    font-size:20px;
    font-weight: 600;
}

.navbar-search-icon{
    position:relative;

}

.navbar-search-icon .dot{
    position:absolute;
    min-height: 10px;
    min-width: 10px;
    background-color: tomato;
    border-radius: 15px;
    top:-8px;
    right:-8px;


}

@media(max-width:1050px){
    .navbar .log{
        width:140px;

    }

    .navbar-menu{
        gap:20px;
        font-size: 17px;;
    }
    .navbar-right{
        gap:20px;
    }
    .navbar-right img{
        width:20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}

.navbar-profile{
    position: relative;
}

.nav-profile-dropdown{
    position:absolute;
    display: none;
    right:0;
    z-index:1;
}


.navbar-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap:10px;
    background-color: #fff2ef;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid tomato;
    outline: 2px solid white;
    list-style: none;

}


.nav-profile-dropdown li{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap:10px;


}

.nav-profile-dropdown li:hover{
    color:tomato;
 

}





@media(max-width:750px){
  

    .navbar-menu{
        display: none;
    }
   
}
