.footer{
    color:#d9d9d9;
    background-color: #323232;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:40px;
    padding: 20px 8vw;
    padding-top: 80px;;
}

.footer-content{
    width: 100%;
    display: grid;
    gap:80px;
    grid-template-columns: 2fr 1fr 1fr;
    z-index: 0;

}

.footer-content-left, .footer-content-right, .footer-content-center{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:20px;
    
}

.footer-content-left li, .footer-content-right li, .footer-content-center li{
    list-style: none;
    cursor: pointer;
 
}

.footer-content-right ul, .footer-content-center ul{
 display: flex;
 flex-direction: column; 
 gap:10px
}

.footer-content-right h2, .footer-content-center h2{
 
    color:white
}

.footer-social-icons img{
    width:40px;
    margin-right: 15px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 1;

}

.footer-social-icons{
    height: 50px;
}

.footer-social-icons img:hover{
 transform: scale(1.2);    

}

@media( max-width:750px){
    .footer-content{
        display: flex;
        flex-direction: column;
        gap:35px;
    }

    .footer-copyright{
        text-align: center;
    }
}
h1{
    color: tomato;
    font-size: 50px;
}


